.throwbackAnime {
  padding: 2rem 0;
  h1 {
    color: white;
    font-size: 3rem;
    padding: 1rem 0;
    margin: 0;
  }
}
.throwback {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  img {
    border-radius: 2rem;
    width: 30rem;
    border: 2px solid white;
    height: 31rem;
    object-fit: cover;
  }
}
.throwback img:hover {
  cursor: pointer;
  box-shadow: 1px 5px 5px gray;
}
