.feature {
  padding: 2rem 0;
}
.card {
  position: relative;
  overflow: hidden;
}
.gradient {
  position: absolute;
  top: 98%;
  box-shadow: -40px -65px 40px black;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 0, 0));
  width: 100vw;
  height: 100vh;
}
.cards {
  display: flex;
  gap: 2rem;
  overflow: hidden;

  img {
    width: 40rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
  }
  .card-details {
    background-blend-mode: linear-gradient(white, black);
    position: absolute;
    left: 2rem;
    bottom: 0;
    color: white;
    li {
      font-size: 2rem;
      margin: 0;
    }
    p {
      color: rgb(211, 211, 211);
    }
    .categories {
      display: flex;
      align-items: center;
      gap: 10rem;
      .rating {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          font-weight: 700;
          color: white;
        }
      }
    }
  }
}

.li:hover {
  cursor: pointer;
  box-shadow: 1px 1px 8px gray;
}
@media only screen and(max-width: 700px) {
  .cards {
    img {
      width: 25rem;
      height: 15rem;
    }
    .card-details {
      left: 1rem;
      li {
        font-size: 1rem;
        margin: 0;
      }
      p {
        font-size: 0.5rem;
      }
      .categories {
        display: flex;
        align-items: center;
        gap: 1rem;
        .rating {
          padding: 0 0.3rem;
          p {
            font-weight: 500;
          }
        }
      }
    }
  }
}
